voltronic_nodered_js/rootfs/etc/node-red/flows-template.json
[
  {
    "id": "tab_voltronic",
    "type": "tab",
    "label": "Voltronic",
    "disabled": false,
    "info": "Auto flow (MQTT auto-config via add-on options)"
  },
  {
    "id": "mqtt_broker_voltronic",
    "type": "mqtt-broker",
    "name": "MQTT (auto)",
    "broker": "__MQTT_HOST__",
    "port": "__MQTT_PORT__",
    "clientid": "nodered-voltronic",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "sessionExpiry": ""
  },
  {
    "id": "mqtt_in_state",
    "type": "mqtt in",
    "z": "tab_voltronic",
    "name": "voltronic/+/state",
    "topic": "voltronic/+/state",
    "qos": "0",
    "datatype": "auto",
    "broker": "mqtt_broker_voltronic",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 180,
    "y": 120,
    "wires": [["json_parse"]]
  },
  {
    "id": "json_parse",
    "type": "json",
    "z": "tab_voltronic",
    "name": "Parse JSON",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 390,
    "y": 120,
    "wires": [["debug_payload"]]
  },
  {
    "id": "debug_payload",
    "type": "debug",
    "z": "tab_voltronic",
    "name": "Voltronic payload",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 620,
    "y": 120,
    "wires": []
  }
]
