voltronic_nodered_js/rootfs/etc/node-red/flows.json
[
  {
    "id": "tab_voltronic",
    "type": "tab",
    "label": "Voltronic",
    "disabled": false,
    "info": "Auto-installed flow"
  },
  {
    "id": "mqtt_broker",
    "type": "mqtt-broker",
    "name": "MQTT Broker",
    "broker": "core-mosquitto",
    "port": "1883",
    "clientid": "nodered-voltronic",
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true
  },
  {
    "id": "mqtt_in_state",
    "type": "mqtt in",
    "z": "tab_voltronic",
    "name": "voltronic/+/state",
    "topic": "voltronic/+/state",
    "qos": "0",
    "datatype": "auto",
    "broker": "mqtt_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 160,
    "y": 120,
    "wires": [
      [
        "json_parse"
      ]
    ]
  },
  {
    "id": "json_parse",
    "type": "json",
    "z": "tab_voltronic",
    "name": "Parse JSON",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 360,
    "y": 120,
    "wires": [
      [
        "debug_payload"
      ]
    ]
  },
  {
    "id": "debug_payload",
    "type": "debug",
    "z": "tab_voltronic",
    "name": "Voltronic payload",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 590,
    "y": 120,
    "wires": []
  }
]